<div class="container">
  <div ng-repeat="book in books">
    <div class="panel" ng-class="{'panel-success': !book.borrow, 'panel-danger': book.borrow}">
      <div class="panel-heading">
        <a ng-click="delBook(book)" class="pull-right">
          <i class="glyphicon glyphicon-remove"></i>
        </a>
        <h3 class="panel-title">{{book.title}}</h3>
      </div>
      <div class="panel-body">
          <div class="media-left">
            <img class="media-object" ng-src="{{book.thumbnail}}" alt="{{::book.title}} image">
          </div>
          <div class="media-body">
              <ul class="list-group">
                  <li class="list-group-item"
                      ng-show="book.authors">
                      <b>Author(s) : </b><span ng-repeat="author in book.authors">{{::book.author}}</span> &nbsp;
                  </li>
                  <li class="list-group-item"
                      ng-show="book.publisher">
                      <b>Publisher : </b>
                      {{::book.publisher}}
                  </li>
                  <li class="list-group-item"
                      ng-show="book.description">
                      <b>Description : </b>
                      <span read-more hmtext="{{::book.description}}"></span>
                  </li>
                  <li class="list-group-item"
                      ng-show="book.pageCount">
                      <b>PageCount : </b>{{::book.pageCount}}
                  </li>
                  <li class="list-group-item"
                      ng-show="book.borrow">
                      <b>Borrower : </b>{{returnBorrower(book).name}} since {{returnBorrower(book).date}}
                  </li>
                  <li class="list-group-item"
                      ng-show="!book.borrow">
                      <b>Available : </b> since {{returnBorrower(book).date}}
                  </li>
              </ul>
          </div>
          <ul class="list-group">
            <li class="list-group-item" ng-show="book.comments">
              <hr>
              <h5 ng-click="showComments =!showComments">
                <span ng-show="!showComments">Show</span>
                <span ng-show="showComments">Hide</span>
                comments</h5>

            </li>
            <li class="list-group-item"
                ng-show="book.comments && showComments"
                ng-repeat="comment in book.comments">
              <b>{{::comment.username}}</b> - {{::comment.body}}
            </li>

            <li class="list-group-item" ng-show="showAddComment(book)">
              <b>Add a comment</b>
              <input type="text"
                     ng-keydown="addComment($event,book)"
                     class="form-control"
                     placeholder="Comment"
                     ng-model="book.newComment.body">
            </li>
            <li class="list-group-item">
                <input ng-disabled="book.borrow"
                       type="text"
                       ng-show="!(showAddComment(book)) && !book.borrow"
                       ng-keydown="borrowBook($event,book,name)"
                       class="form-control"
                       ng-model="name"
                       placeholder="Borrower username">
                <button ng-show="book.borrow"
                        class="pull-right btn btn-primary"
                        ng-click="returnBook(book)">Return book</button>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
